{% extends 'layouts/base.html' %}
{% load static %}
{% block contenido %}
    <!--Page Header Start-->
    {% include 'partials/page_header.html' %}
    <!--Page Header End-->

    <!--Work Together Two Start-->
    <section class="welcome-two materiales">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="welcome-two__left wow slideInLeft animated" data-wow-delay="100ms"
                         data-wow-duration="2500ms"
                         style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">OUR ESSENTIAL MATERIALS</span>
                            <h2 class="section-title__title">Iron</h2>
                        </div>
                        <p class="welcome-two__text-1">Silver-gray metal with magnetic properties. </p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>High hardness and density</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>It has different structural forms</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Fundamental in steel products</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="welcome-two__icon-box">
                                <img src="{% static 'assets/images/materiales/fe.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">Our Java 4 mine is located 110 km from the Lázaro Cárdenas port,
                            comprising a total of 11,169.86 hectares. <br>Adjacent to Division 8 is the mine owned by
                            Arcelor Mittal, its reserves have been tested, are reviewed annually and are part of the
                            market valuation of Arcelor's shares. <br>In the vicinity is also the mine called Doña
                            Paula,
                            located south of Division 1, which is currently producing and exporting around 150,000 MT
                            per month.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-two materiales derecha">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">OUR ESSENTIAL MATERIALS
</span>
                            <h2 class="section-title__title">Antimony</h2>
                        </div>
                        <p class="welcome-two__text-1">This semimetallic element has four allotropic forms. In its
                            stable form it is a bluish-white metal.</p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>It has a low electrical conductivity</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Chemical behavior as a nonmetal
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>It is calcophilic, appearing with sulfur and other elements
                                        </p>
                                    </div>
                                </li>

                            </ul>
                            <div class="welcome-two__icon-box">
                                <img src="{% static 'assets/images/materiales/sb.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">Our main mine is strategically located in Real de Catorce, San
                            Luis Potosí, less than 20 km from the “Estación Wadley” freight train station that connects
                            to the port of Manzanillo on the Pacific coast of Mexico. <br>The mine has been in operation
                            for
                            more than 100 years, it resumed full scale mining operation 12 years ago.<br>
                            We have a lease of the mine from SB Wadley mining company, a large mining group focused on
                            the exploitation and marketing of Gold, Silver and Copper.
                        </p>

                    </div>
                </div>
                <div class="col-xl-5 ">
                    <div class="welcome-two__left wow slideInRight animated" data-wow-delay="100ms"
                         data-wow-duration="2500ms"
                         style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInRight;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-two materiales">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="welcome-two__left wow slideInLeft animated" data-wow-delay="100ms"
                         data-wow-duration="2500ms"
                         style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">OUR ESSENTIAL MATERIALS</span>
                            <h2 class="section-title__title">Rhodium
                            </h2>
                        </div>
                        <p class="welcome-two__text-1">Silver-white ductile metal
                        </p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Melting point higher than that of platinum
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>It is a subsidiary of other mining activities
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>It is considered the most expensive metal in the world.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Used as a catalyst for hydrogenation
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="welcome-two__icon-box">
                                <img src="{% static 'assets/images/materiales/rh.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">Our mine is located in the municipality of Purepero in the state
                            of Michoacán, 5 hours from the port of Lázaro Cárdenas.
                            The infrastructure and extraction processes at the site provide for the production of at
                            least 100 to 200 MT per month of high content rhodium clay.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <!--Work Together Two End-->





    <!--Our Mission Two Start-->
    {% include 'partials/video.html' %}
    <!--Our Mission Two End-->


    <!--CTA One Start-->
    <section class="cta-one minerales-last">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="cta-one__inner">
                        <div class="cta-one__inner-content">
                            <div class="cta-one-shape-1 float-bob-x"></div>
                            <div class="cta-one-shape-2 float-bob-x-2"></div>
                            <h3 class="cta-one__title">
                                Sustainability is an integral part of our operations
                            </h3>
                            <a href="{% url 'sustentabilidad' %}" class="thm-btn cta-one__btn">ESG PROGRAM
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CTA One End-->
{% endblock %}