{% extends 'layouts/base.html' %}
{% load static %}
{% block contenido %}
    <!--Page Header Start-->
    {% include 'partials/page_header.html' %}
    <!--Page Header End-->

    <!--Work Together Two Start-->
    <section class="work-together-two sustenta">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="work-together-two__left wow slideInLeft" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <div class="work-together-two__img">
                            <img src="{% static 'assets/images/crisnat/sustentabilidad12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="work-together-tow__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">A comprehensive vision</span>
                            <h2 class="section-title__title">Sustainability as the axis of our operations</h2>
                        </div>
                        <div class="work-together-tow__content">

                            <h3 class="work-together-tow__text">At Cristan we understand that any company is committed
                                to taking care of all stakeholders.</h3>
                        </div>
                        <p class="work-together-tow__text-2">From the beginning of our operations, we put sustainability
                            at the center of our operations in each of the projects in which we participate.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Work Together Two End-->


    <!--Quality Work Start-->
    <section class="quality-work">
        <div class="quality-work-shape-1 float-bob-x-2"></div>
        <div class="quality-work-shape-2 float-bob-x-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="quality-work__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Always on the vanguard</span>
                            <h2 class="section-title__title">Environmental <br>care</h2>
                        </div>
                        <div class="quality-work__tab-box tabs-box">
                            <ul class="tab-buttons clearfix list-unstyled">
                                <li data-tab="#solutions" class="tab-btn active-btn"><span>Water</span></li>
                                <li data-tab="#work" class="tab-btn"><span>Waste management</span></li>
                            </ul>
                            <div class="tabs-content">
                                <!--tab-->
                                <div class="tab active-tab" id="solutions">
                                    <div class="tab-content__inner">
                                        <div class="tab-content__img">
                                            <img src="{% static 'assets/images/crisnat/water.jpg' %}"
                                                 alt="">
                                        </div>
                                        <div class="tab-content__contnet">
                                            <h4 class="tab-content__title">Committed to the goals of sustainable
                                                development</h4>
                                            <p class="tab-content__text">Following the recommendations of international
                                                organizations,Crisnat has
                                                adopted a set of practices to make optimal use of this vital liquid.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-->
                                <div class="tab " id="work">
                                    <div class="tab-content__inner">
                                        <div class="tab-content__img">
                                            <img src="{% static 'assets/images/crisnat/ciclo.jpg' %}"
                                                 alt="">
                                        </div>
                                        <div class="tab-content__contnet">
                                            <h4 class="tab-content__title">Commitment to the future</h4>
                                            <p class="tab-content__text">At each stage of our processes, the management
                                                of waste that may affect the environment and society is considered in a
                                                comprehensive manner.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="quality-work__right">
                        <ul class="quality-work__points list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-checking"></span>
                                </div>
                                <div class="text">
                                    <h4>Health, safety and wellness</h4>
                                    <p>Our human capital is our most important resource. Through a constant review
                                        process, we seek to ensure the comprehensive well being of all our
                                        collaborators.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-conversation"></span>
                                </div>
                                <div class="text">
                                    <h4>Communities</h4>
                                    <p>We understand that the importance of working together to positively impact the
                                        communities near our farms is not only our duty but also our conviction.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Quality Work End-->

    <!--Our Mission Two Start-->
    {% include 'partials/video.html' %}
    <!--Our Mission Two End-->


    <!--CTA One Start-->
    {% include 'partials/our_minerals.html' %}
    <!--CTA One End-->
{% endblock %}