{% extends 'layouts/base.html' %}
{% load static %}
{% block contenido %}
    <!--Page Header Start-->
    {% include 'partials/page_header.html' %}
    <!--Page Header End-->

    <!--Work Together Two Start-->
    <section class="welcome-two materiales">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="welcome-two__left wow slideInLeft animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Nuestros materiales esenciales</span>
                            <h2 class="section-title__title">Hierro</h2>
                        </div>
                        <p class="welcome-two__text-1">Metal de color gris plateado con propiedades magnéticas. </p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>De gran dureza y densidad</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Presenta diferentes formas estructurales</p>
                                    </div>
                                </li>
                              
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Fundamental en  los productos siderúrgicos</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="welcome-two__icon-box">
                                <img src="{% static 'assets/images/materiales/fe.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">Nuestra mina Java 4  está ubicada a 110 km del puerto Lázaro Cárdenas, 
                            compuesta por un total de 11.169,86 hectáreas.<br>
                            Adyacente a la división 8 se encuentra la mina perteneciente a
                            Arcelor Mittal, sus reservas han sido probadas, se revisan anualmente y son parte de la valoración de mercado de las acciones de <a href="https://corporate.arcelormittal.com/" target="_blank">Arcelor.</a>
                        <br>
                        En la vecindad también se  encuentra la mina denominada Doña paula ubicada al sur de la división 1 la cual actualmente se encuentra produciendo y exportando alrededor de 150.000 TM mensual.
                        <br><span class="section-title__tagline2"><a href="{% static 'assets/images/crisnat/mapajava.jpg' %}" target="_blank">Explora el mapa</a></span>

                    </p>
                            
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-two materiales derecha">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Nuestros materiales esenciales</span>
                            <h2 class="section-title__title">Antimonio</h2>
                        </div>
                        <p class="welcome-two__text-1">Este elemento semimetálico cuenta con cuatro formas alotrópicas.  En su forma estable es un metal blanco azulado.</p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Presenta una conductividad eléctrica baja</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Comportamiento químico como un no metal</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Es calcófilo, presentándose con azufre y con otros elementos</p>
                                    </div>
                                </li>
                              
                            </ul>
                            <div class="welcome-two__icon-box">
                                    <img src="{% static 'assets/images/materiales/sb.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">
                            Nuestra principal mina esta estratégicamente ubicada en Real de Catorce, San Luis Potosí,  a menos de 20 KM de la estación de trenes de carga “Estación Wadley” que conecta con el puerto de Manzanillo en la costa del Pacífico de México.<br>
                            La mina ha estado en operación por más de 100 años, retomo su operación minera a gran escala hace 12 años.<br>
                            Tenemos un arrendamiento de la mina de la compañía minera SB Wadley, un gran grupo minero concentrado en la explotación y comercialización de Oro, Plata y Cobre.
                            <br><span class="section-title__tagline2"><a href="{% static 'assets/images/crisnat/maparealcatorce.jpg' %}" target="_blank">Explora el mapa</a></span>
                        </p>
                        
                    </div>
                </div>
                <div class="col-xl-5 ">
                    <div class="welcome-two__left wow slideInRight animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInRight;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-two materiales">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="welcome-two__left wow slideInLeft animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                        <div class="welcome-two__img">
                            <img src="{% static 'assets/images/crisnat/iron12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Nuestros materiales esenciales</span>
                            <h2 class="section-title__title">Rodio</h2>
                        </div>
                        <p class="welcome-two__text-1">Metal dúctil de color blanco plateado</p>
                        <div class="welcome-two__content">
                            <ul class="list-unstyled welcome-two__points">
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Punto de fusión mayor que el del platino</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Es un subsidiario de otras actividades mineras</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Se lo considera el metal más caro del mundo</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                    <div class="text">
                                        <p>Utilizado como catalizador para la hidrogenación</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="welcome-two__icon-box">
                                    <img src="{% static 'assets/images/materiales/rh.svg' %}" alt="">
                            </div>
                        </div>
                        <p class="welcome-two__text-2">
                            Nuestra mina se encuentra ubicada en el municipio de Purepero en el estado de Michoacán, a 5 horas del puerto Lázaro Cárdenas.
                            <br>
                            La infraestructura y los procesos de extracción en el lugar prevén la producción de al menos 100 a 200 TM por mes de arcilla de rodio de alto contenido.
                            <br></br><span class="section-title__tagline2"><a href="{% static 'assets/images/crisnat/maparodio.jpg' %}" target="_blank">Explora el mapa</a></span>

                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
   


   
    <!--Work Together Two End-->





     <!--Our Mission Two Start-->
     {% include 'partials/video_es.html' %}
    <!--Our Mission Two End-->


   <!--CTA One Start-->
   <section class="cta-one minerales-last materiales">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__inner-content">
                        <div class="cta-one-shape-1 float-bob-x"></div>
                        <div class="cta-one-shape-2 float-bob-x-2"></div>
                        <h3 class="cta-one__title">
                            La sustentabilidad es parte integral de nuestras operaciones </h3>
                        <a href="/sustentabilidad" class="thm-btn cta-one__btn">Programa ESG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->
{% endblock %}