{% extends 'layouts/base.html' %}
{% load static %}
{% block contenido %}
    <!--Page Header Start-->
    {% include 'partials/page_header.html' %}
    <!--Page Header End-->

    <!--News One Start-->
    <section class="news-page media">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia1.jpg' %}" alt="">
                            <a href="https://www.prnewswire.com/news-releases/global-iron-ore-market-to-reach-2-7-billion-metric-tons-by-2026--301497721.html"
                               target="_blank">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Hierro</p>
                            <h3 class="news-one__title"><a
                                    href="https://www.prnewswire.com/news-releases/global-iron-ore-market-to-reach-2-7-billion-metric-tons-by-2026--301497721.html"
                                    target="_blank">El mercado mundial de mineral de hierro alcanzará las 2700 millones
                                de toneladas métricas para 2026</a></h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://www.prnewswire.com/news-releases/global-iron-ore-market-to-reach-2-7-billion-metric-tons-by-2026--301497721.html"
                                       target="_blank"><i class="far fa-clock"></i> 10 Mar, 2022</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia2.jpg' %}" alt="">
                            <a href="https://www.mining.com/web/china-plans-sharp-increase-in-overseas-iron-ore-output-by-2025-state-media/"
                               target="_blank">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Hierro</p>
                            <h3 class="news-one__title"><a
                                    href="https://www.mining.com/web/china-plans-sharp-increase-in-overseas-iron-ore-output-by-2025-state-media/"
                                    target="_blank">China planea un fuerte aumento en la producción de mineral de hierro
                                en el extranjero para 2025</a></h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://www.mining.com/web/china-plans-sharp-increase-in-overseas-iron-ore-output-by-2025-state-media/"
                                       target="_blank"><i class="far fa-clock"></i> 1 Mar, 2022</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia3.jpg' %}" alt="">
                            <a href="https://www.reuters.com/markets/europe/iron-ore-outlook-is-more-bullish-than-lower-china-growth-target-suggests-russell-2022-03-07">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Hierro</p>
                            <h3 class="news-one__title"><a
                                    href="https://www.reuters.com/markets/europe/iron-ore-outlook-is-more-bullish-than-lower-china-growth-target-suggests-russell-2022-03-07"
                                    target="_blank">La perspectiva del hierro es más alcista de lo que sugiere el menor
                                objetivo de crecimiento de China </a></h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://www.reuters.com/markets/europe/iron-ore-outlook-is-more-bullish-than-lower-china-growth-target-suggests-russell-2022-03-07"
                                       target="_blank"><i class="far fa-clock"></i> 7 Mar, 2022</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia4.jpg' %}" alt="">
                            <a href="https://www.metalbulletin.com/Article/5084985/Fall-in-Russias-exports-sheds-light-on-Chinas-antimony-price-increases.html"
                               target="_blank">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Antominio</p>
                            <h3 class="news-one__title"><a
                                    href="https://www.metalbulletin.com/Article/5084985/Fall-in-Russias-exports-sheds-light-on-Chinas-antimony-price-increases.html"
                                    target="_blank">La caída de las exportaciones de Rusia provocará un aumento del
                                precio del antimonio en China</a></h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://www.metalbulletin.com/Article/5084985/Fall-in-Russias-exports-sheds-light-on-Chinas-antimony-price-increases.html"
                                       target="_blank"><i class="far fa-clock"></i> 7 Mar, 2022</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia5.jpg' %}" alt="">
                            <a href="https://investorintel.com/markets/technology-metals/technology-metals-intel/antimony-critical-or-strategic-or-both/"
                               target="_blank">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Antimonio</p>
                            <h3 class="news-one__title"><a
                                    href="https://investorintel.com/markets/technology-metals/technology-metals-intel/antimony-critical-or-strategic-or-both/"
                                    target="_blank">Antimonio: ¿crítico, estratégico o ambos? <br></br><br></br></a>
                            </h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://investorintel.com/markets/technology-metals/technology-metals-intel/antimony-critical-or-strategic-or-both/"
                                       target="_blank"><i class="far fa-clock"></i> 21 Jun, 2021</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="{% static 'assets/images/crisnat/noticias/noticia5.jpg' %}" alt="">
                            <a href="https://finance.yahoo.com/news/global-precious-metal-catalysts-market-152000288.html"
                               target="_blank">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <p class="news-one__sub-title">Rodio</p>
                            <h3 class="news-one__title"><a
                                    href="https://finance.yahoo.com/news/global-precious-metal-catalysts-market-152000288.html"
                                    target="_blank"> El mercado mundial de metales preciosos alcanzará los 19.900
                                millones de dólares para 2026</a></h3>
                            <ul class="list-unstyled news-one__meta">
                                <li>
                                    <a href="https://finance.yahoo.com/news/global-precious-metal-catalysts-market-152000288.html"
                                       target="_blank"><i class="far fa-clock"></i> 10 Mar, 2022</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <!--Our Mission Two End-->







    <!--CTA One Start-->
    {% include 'partials/our_minerals_es.html' %}
    <!--CTA One End-->
    <!--CTA One End-->
{% endblock %}