<section class="cta-one minerales-last ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__inner-content">
                        <div class="cta-one-shape-1 float-bob-x"></div>
                        <div class="cta-one-shape-2 float-bob-x-2"></div>
                        <h3 class="cta-one__title">
                            Extraemos y comercializamos materiales esenciales de alta calidad</h3>
                        <a href="{% url 'materiales' %}" class="thm-btn cta-one__btn">Nuestros minerales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>