<section class="cta-one minerales-last">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__inner-content">
                        <div class="cta-one-shape-1 float-bob-x"></div>
                        <div class="cta-one-shape-2 float-bob-x-2"></div>
                        <h3 class="cta-one__title">

                            We extract and commercialize high quality essential materials</h3>
                        <a href="{% url 'materiales' %}" class="thm-btn cta-one__btn">Our minerals</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>