{% load static %}
<section class="our-mission-two our-mission-three">
    <div class="our-mission-two-bg-box">
        <div class="our-mission-two-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url('{% static 'assets/images/backgrounds/bg-nosotros.jpg' %}');"></div>
    </div>
    <div class="our-mission-shape-1 shapemover2"></div>
    <div class="our-mission-shape-2 shapemover2"></div>
    <div class="our-mission-shape-3 shapemover2"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="our-mission-two__left">
                    <h2 class="our-mission-two__title">The year 2021 <br> marks the beginning of a new stage</h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-mission-two__right">
                    <div class="our-mission-two__video-link">
                        <a href="https://www.youtube.com/watch?v=ea2uzaWlQks" class="video-popup">
                            <div class="our-mission-two__video-icon">
                                <span class="fa fa-play"></span>
                                <i class="ripple"></i>
                            </div>
                        </a>
                        <h3 class="our-mission-two__video-text">View our Video</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>